{% extends 'base.html' %}

{% block title %}Liczniki{% endblock %}

{% block content %}
    <div class="row">
        {% for meter in meters %}
            {% for measure in measurement %}
                {% if measure.meter_type == meter.pk %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                <a href="{% url 'meters_list' slug=meter.slug %}">
                                    <h5 class="card-title">{{ meter.meter_type }}</h5>
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Opis:</strong> {{ meter.meter_description }}
                                </p>
                                <p class="card-text">
                                    <strong>S/N:</strong> {{ meter.meter_id }}
                                </p>
                                <p class="card-text">
                                    <strong>Stan licznika:</strong> {{ measure.state_max }} {{ meter.unit_of_measure }}
                                </p>
                                <p class="card-text">
                                    <strong>Data ostatniego odczytu:</strong> {{ measure.state_date_max }}
                                </p>
                                <p class="card-text">
                                    <strong>Liczba odczytów: </strong> {{ measure.measurement_count }}
                                </p>
                                <a href="{% url 'meter_type_edit' slug=meter.slug %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
                                    <i class="fas fa-edit"></i>
                                    Edytuj
                                </a>
                                <a href="{% url 'meter_type_remove' slug=meter.slug %}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">
                                    <i class="far fa-trash-alt"></i>
                                    Usuń
                                </a>
                                <a href="{% url 'meter_add' %}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">
                                    <i class="fas fa-plus"></i>
                                    Dodaj odczyt
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Nowy Licznik?</h5>
                </div>
                <div class="card-body">
                    <a href="{% url 'meter_type_add' %}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">
                        <i class="fas fa-plus"></i>
                        Dodaj
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}