{% extends 'base.html' %}

{% block title %}Liczniki - Usun{% endblock %}

{% block content %}
    <h1>Usun Licznik</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the item?</p>
        <ul>
            <li><strong>Nazwa licznika:</strong> {{ meter_type.meter_type }}</li>
            <li><strong>Skrót:</strong> {{ meter_type.slug }}</li>
            <li><strong>Opis:</strong> {{ meter_type.meter_description }}</li>
            <li><strong>Numer licznika:</strong> {{ meter_type.meter_id }}</li>
            <li><strong>Jednostka miary:</strong> {{ meter_type.unit_of_measure }}</li>
            <li><strong>Data utworzenia:</strong> {{ meter_type.created_date }}</li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Remove">
        <a href="{% url 'meters' %}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}
