{% extends 'base.html' %}
{% load l10n %}

{% block title %}Liczniki{% endblock %}

{% block content %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-between align-items-center">
        <div>
            <h2>
                {{ meter_type.meter_type }}
                <small class="text-muted">S/N: {{ meter_type.meter_id }}</small>
                <span class="badge badge-success">{{ avg }} {{ meter_type.unit_of_measure }}</span>
            </h2>
            <p class="lead">Opis: {{ meter_type.meter_description }}</p>
        </div>
        <a href="{% url 'meter_add' %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
            <i class="fas fa-plus"></i>
            Dodaj
        </a>
    </div>

    {% regroup consumption by measurement.state_date|date:"Y" as consumption_year %}
    {% for year in consumption_year %}
        <div class="year">
            <div class="d-flex justify-content-between align-items-center border-bottom">
                <div class="toggler">
                    <h3>{{ year.grouper }}</h3>
                    <a data-toggle="collapse" href="#year-{{ year.grouper }}" role="button" aria-expanded="true" aria-controls="year-{{ year.grouper }}" class="{% if forloop.counter > 1 %}collapsed{% endif %}">
                        <i class="fas fa-toggle-on fa-2x"></i>
                    </a>
                </div>
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-file-export"></i>
                        Eksportuj
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'export_pdf' slug=meter_type.slug year=year.grouper %}" target="_blank">PDF</a>
                        <a class="dropdown-item" href="{% url 'export_xls' slug=meter_type.slug year=year.grouper %}" target="_blank">Excel</a>
                        <a class="dropdown-item" href="{% url 'export_csv' slug=meter_type.slug year=year.grouper %}" target="_blank">CSV</a>
                    </div>
                </div>
            </div>

            <div class="collapse{% if forloop.first %} show{% endif %}" id="year-{{ year.grouper }}">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="width: 5%" scope="col" class="text-center">#</th>
                            <th style="width: 15%" scope="col">Data</th>
                            <th style="width: 15%" scope="col">Stan</th>
                            <th style="width: 15%" scope="col">Zużycie</th>
                            <th style="width: 40%" scope="col">Poziom</th>
                            <th style="width: 10%" scope="col" class="text-center">Ustawienia</th>
                        </tr>
                    </thead>
                    {% for consump in year.list %}
                    <tr>
                        <td class="text-center">
                            {% if consump.consumption > avg %}
                                <i class="far fa-caret-square-up text-danger"></i>
                            {% elif consump.consumption < avg %}
                                <i class="far fa-caret-square-down text-success"></i>
                            {% elif consump.consumption == avg %}
                                <i class="far fa-minus-square text-warning"></i>
                            {% endif %}
                        </td>
                        <td>{{ consump.measurement.state_date }}</td>
                        <td>{{ consump.measurement.state }} {{ consump.measurement.meter_type.unit_of_measure }}</td>
                        <td>{{ consump.consumption }} {{ consump.measurement.meter_type.unit_of_measure }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success"
                                     style="width: {% widthratio consump.consumption maximum 100 %}%"
                                     role="progressbar"
                                     aria-valuenow="{{ consump.consumption|unlocalize }}"
                                     aria-valuemin="0"
                                     aria-valuemax="{{ maximum|unlocalize }}"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'meter_edit' pk=consump.measurement.pk %}" class="link">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'meter_remove' pk=consump.measurement.pk %}" class="link">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}