{% extends 'base.html' %}

{% block title %}Liczniki - Usun{% endblock %}

{% block content %}
    <h1>Usun Pomiar Licznika</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the item?</p>
        <ul>
            <li>{{ meter_type.meter_type.meter_type }}</li>
            <li>{{ meter_type.state_date }}</li>
            <li>{{ meter_type.state }} {{ meter_type.meter_type.unit_of_measure }}</li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Remove">
        <a href="{% url 'meters_list' slug=meter_type.meter_type.slug%}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}
