{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Title{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- FontAwesome core CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}?v=2.500">
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">Company name</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                            <i class="fas fa-home"></i>
                            <span>Liczniki</span>
                        </h6>
                        <ul class="nav flex-column px-3 mb-2">
                            <li class="nav-item">
                                <a href="/meters/centralne-ogrzewanie/" class="nav-link">Centralne ogrzewanie</a>
                            </li>
                            <li class="nav-item">
                                <a href="/meters/ciepa-woda/" class="nav-link">Ciepła woda</a>
                            </li>
                            <li class="nav-item">
                                <a href="/meters/zimna-woda/" class="nav-link">Zimna Woda</a>
                            </li>
                            <li class="nav-item">
                                <a href="/meters/energia-elektryczna/" class="nav-link">Energia Elektryczna</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'meters' %}" class="nav-link">Ustawienia</a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                            <i class="far fa-calendar-alt"></i>
                            <span>Przypomnienia</span>
                        </h6>
                        <ul class="nav flex-column px-3 mb-2">
                            <li class="nav-item">
                                <a href="{% url 'reminder_list' %}" class="nav-link">Lista</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Kategorie</a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                            <i class="far fa-credit-card"></i>
                            <span>Rozliczenie</span>
                        </h6>
                        <ul class="nav flex-column px-3 mb-2">
                            <li class="nav-item">
                                <a href="{% url 'money_list' %}" class="nav-link">Zestawienie</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'money_analyze_monthly' %}" class="nav-link">Analiza miesięczne</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Analiza roczna</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'money_settings' %}" class="nav-link">Ustawienia</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        {% if user.is_authenticated %}
                            {% block content %}

                            {% endblock %}
                        {% else %}
                            <h1>Please <a href="/admin">login</a> to see this page.</h1>
                        {% endif %}
                    </div>
                </main>
            </div>
        </div>


        <nav>
            <a href="{% url 'meters' %}">Liczniki</a>
            <a href="{% url 'reminder_list' %}">Przypomnienia</a>
        </nav>


        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}

        {% endblock %}

    </body>
</html>