<!-- Modal -->
<div class="modal fade" id="{% block id %}modal{% endblock %}" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {% block title %}Title{% endblock %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block content %}

                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="save btn btn-primary" form="{% block form_id %}{% endblock %}">Save</button>
            </div>
        </div>
    </div>
</div>