{% extends 'base.html' %}

{% block title %}Zestawienie{% endblock %}

{% block content %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-between align-items-center">
        <h2>Wszystkie przypomnienia</h2>
        <a href="{% url 'money_list_item_add' %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
            <i class="fas fa-plus"></i>
            Dodaj
        </a>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Miejsce</th>
                <th scope="col">Kwota</th>
                <th scope="col">Kto</th>
                <th scope="col">Typ</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Komentarz</th>
                <th scope="col">Ustawienia</th>
            </tr>
        </thead>
        <tbody>
        {% for i in spend_item %}
            <tr>
                <td>{{ i.item_date }}</td>
                <td>{{ i.item_place }}</td>
                <td>{{ i.amount }} {{ i.currency }}</td>
                <td>{{ i.spender }}</td>
                <td>{{ i.spend_type.spend_type }}</td>
                <td>{{ i.category.category_name }}</td>
                <td>{{ i.subcategory.subcategory_name }}</td>
                <td>{{ i.comment }}</td>
                <td>
                    <a href="{% url 'money_list_item_edit' pk=i.pk %}" class="link">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'money_list_item_remove' pk=i.pk %}" class="link">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
