{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Rozliczenie{% endblock %}

{% block content %}
    <h1>Rozliczenie - dodaj/edytuj</h1>
    <form method="POST" class="post-form" id="AddMoneyItemForm" data-category-url="{% url 'ajax_load_category' %}" data-subcategory-url="{% url 'ajax_load_subcategory' %}">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="{{ form.spend_type.id_for_label }}">Typ:</label>
                {% render_field form.spend_type class="form-control form-control-sm" %}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.category.id_for_label }}">Kategoria:</label>
                {% render_field form.category class="form-control form-control-sm" %}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.subcategory.id_for_label }}">Podkategoria:</label>
                {% render_field form.subcategory class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="{{ form.item_date.id_for_label }}">Data:</label>
                {% render_field form.item_date class="form-control form-control-sm" %}
            </div>
            <div class="form-group col-md-3">
                <label for="{{ form.item_place.id_for_label }}">Miejsce:</label>
                {% render_field form.item_place class="form-control form-control-sm" list="item_place_list" %}
                <datalist id="item_place_list">
                    {% for item in item_datalist %}
                        <option value="{{ item }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group col-md-3">
                <label for="{{ form.spender.id_for_label }}">Osoba:</label>
                {% render_field form.spender class="form-control form-control-sm" list="spender_list" %}
                <datalist id="spender_list">
                    {% for item in spender_datalist %}
                        <option value="{{ item }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group col-md-2">
                <label for="{{ form.amount.id_for_label }}">Kwota:</label>
                {% render_field form.amount class="form-control form-control-sm" %}
            </div>
            <div class="form-group col-md-1">
                <label for="{{ form.currency.id_for_label }}">Waluta:</label>
                {% render_field form.currency class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="{{ form.comment.id_for_label }}">Komentarz:</label>
                {% render_field form.comment class="form-control form-control-sm" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-save"></i> Zapisz
        </button>
        <a class="btn btn-danger btn-sm" href="{% url 'money_list' %}" role="button">
            <i class="fas fa-times"></i> Anuluj
        </a>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $("#id_spend_type").change(function () {
          var url = $("#AddMoneyItemForm").attr("data-category-url");
          var SpendTypeId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'spend_type': SpendTypeId
            },
            success: function (data) {
              $("#id_category").html(data);
            }
          });

        });

        $("#id_category").change(function () {
          var url = $("#AddMoneyItemForm").attr("data-subcategory-url");
          var CategoryId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'category': CategoryId
            },
            success: function (data) {
              $("#id_subcategory").html(data);
            }
          });

        });
    </script>
{% endblock %}