{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Rozliczenie{% endblock %}

{% block content %}
    <div class="shadow-sm p-3 mb-1 bg-white rounded d-flex justify-content-between align-items-center">
        <h2>Analiza misięczna</h2>
    </div>
    <div class="row p-3 mb-1">
        <div class="col-6 chart" url-endpoint="{% url 'api_spend_chart_data' %}">
            <canvas id="myChart1" height="auto"></canvas>
        </div>
        <div class="col-6 p-3 mb-1">
            <div class="row">
                {% for item in spend_amount %}
                <div class="col-6">
                     <div class="card text-center">
                        <div class="card-header">
                            {{ item.spend_type }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.total_amount }} zł</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-6">
                     <div class="card text-center">
                        <div class="card-header">
                            Różnica
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ spend_difference }} zł</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                     <div class="card text-center">
                        <div class="card-header">
                            % z budżetu
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ spend_participation }}%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-3 mb-1">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Typ</th>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Kwota</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cat in category_amount %}
                            <tr>
                                <td>{{ cat.spend_type.spend_type }}</td>
                                <td>{{ cat.category_name }}</td>
                                <td>{{ cat.total_amount|default_if_none:"0,00" }} zł</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">No data</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 p-3 mb-1" url-endpoint="{% url 'api_spend_chart_data' %}">
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var endpoint = '/api/data/category-chart'
            var defaultData = []
            var labels = []

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data) {
                    labels = data.labels
                    defaultData = data.default
                    setChart()
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })

            function setChart() {
                var ctx = document.getElementById("myChart2");
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# of Votes',
                            data: defaultData,
                        }]
                    },
                    options: {
                        legend: {
                            position: "top"
                        }
                    }
                })
            }
        });
    </script>
    <script>
        $(document).ready(function(){
            var endpoint = '/api/data/spend-chart'
            var defaultData = []
            var labels = []

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data) {
                    labels = data.labels
                    defaultData = data.default
                    setChart()
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })

            function setChart() {
                var ctx = document.getElementById("myChart1");
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# of Votes',
                            data: defaultData,
                        }]
                    },
                    options: {
                        legend: {
                            position: "left"
                        }
                    }
                })
            }
        });
    </script>
{% endblock %}