{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Zestawienie{% endblock %}

{% block content %}
    <div class="shadow-sm p-3 mb-1 bg-white rounded d-flex justify-content-between align-items-center">
        <h2>Wszystkie wydatki</h2>
        <div>
            <div class="btn-group dropleft">
                <button type="button" class="btn btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-file-export"></i>
                    Eksportuj
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">PDF</a>
                    <a class="dropdown-item" href="{% url 'money_export_xls' %}?spend_type={{ filter.form.spend_type.value }}&category={{ filter.form.category.value }}&subcategory={{ filter.form.subcategory.value }}&item_place={{ filter.form.item_place.value }}&item_year={{ filter.form.item_year.value }}&min_date={{ filter.form.min_date.value }}&max_date={{ filter.form.max_date.value }}&spender={{ filter.form.spender.value }}" target="_blank" type="submit">Excel</a>
                    <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">CSV</a>
                </div>
            </div>
            <a href="{% url 'money_list_item_add' %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
                <i class="fas fa-plus"></i>
                Dodaj
            </a>

        </div>
    </div>

    <div class="shadow-sm p-3 mb-1 bg-white rounded">
        <form method="get" id="SearchForm" data-category-url="{% url 'ajax_load_category' %}" data-subcategory-url="{% url 'ajax_load_subcategory' %}">
            <div class="toggler">
                <a data-toggle="collapse" href="#filter_panel" role="button" aria-expanded="true" aria-controls="filter_panel" class="collapsed">
                    <i class="fas fa-toggle-on fa-2x"></i>
                </a>
                <h4 style="margin-top: 0">Filtry</h4>
            </div>
            <div class="collapse" id="filter_panel">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.spend_type.id_for_label }}">Typ:</label>
                        {% render_field filter.form.spend_type class="form-control form-control-sm" %}
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.category.id_for_label }}">Kategoria:</label>
                        {% render_field filter.form.category class="form-control form-control-sm" %}
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.subcategory.id_for_label }}">Podkategoria:</label>
                        {% render_field filter.form.subcategory class="form-control form-control-sm" %}
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.item_place.id_for_label }}">Miejsce (zawiera):</label>
                        {% render_field filter.form.item_place class="form-control form-control-sm" list="item_place_list" %}
                        <datalist id="item_place_list">
                            {% for item in item_datalist %}
                                <option value="{{ item }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.item_year.id_for_label }}">Rok:</label>
                        {% render_field filter.form.item_year class="form-control form-control-sm" list="year_list" %}
                        <datalist id="year_list">
                            {% for item in year_datalist %}
                                <option value="{{ item.year }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.min_date.id_for_label }}">Data od:</label>
                        <input type="date" name="{{ filter.form.min_date.name }}" class="form-control form-control-sm" id="{{ filter.form.min_date.id_for_label }}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.max_date.id_for_label }}">Data do:</label>
                        <input type="date" name="{{ filter.form.max_date.name }}" class="form-control form-control-sm" id="{{ filter.form.max_date.id_for_label }}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="{{ filter.form.spender.id_for_label }}">Osoba:</label>
                        {% render_field filter.form.spender class="form-control form-control-sm" list="spender_list" %}
                        <datalist id="spender_list">
                            {% for item in spender_datalist %}
                                <option value="{{ item }}">
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-filter"></i> Filtruj
                </button>
                <a class="btn btn-success btn-sm" href="{% url 'money_list' %}" role="button">
                    <i class="fas fa-sync-alt"></i> Wyczyść
                </a>
            </div>
        </form>
    </div>


    <div aria-label="breadcrumb"> {{ filter.form.instance.some_field }}
         <ol class="breadcrumb">
            {% if filter.form.spend_type.value %}
            <li class="breadcrumb-item active"><strong>Typ:</strong> {{ filter.form.spend_type.data }}</li>
            {% endif %}
            {% if filter.form.category.value %}
            <li class="breadcrumb-item active"><strong>Kategoria:</strong> {{ filter.form.category.value }}</li>
            {% endif %}
            {% if filter.form.subcategory.value %}
            <li class="breadcrumb-item active"><strong>Podkategoria:</strong> {{ filter.form.subcategory.value }}</li>
            {% endif %}
            {% if filter.form.item_place.value %}
            <li class="breadcrumb-item active"><strong>Miejsce:</strong> {{ filter.form.item_place.value }}</li>
            {% endif %}
            {% if filter.form.item_year.value %}
            <li class="breadcrumb-item active"><strong>Rok:</strong> {{ filter.form.item_year.value }}</li>
            {% endif %}
            {% if filter.form.min_date.value %}
            <li class="breadcrumb-item active"><strong>Data od:</strong> {{ filter.form.min_date.value }}</li>
            {% endif %}
            {% if filter.form.max_date.value %}
            <li class="breadcrumb-item active"><strong>Data do:</strong> {{ filter.form.max_date.value }}</li>
            {% endif %}
            {% if filter.form.spender.value %}
                <li class="breadcrumb-item active">spender={{ filter.form.spender.value }}</li>
            {% endif %}
        </ol>
    </div>


    <div class="p-3 mb-1">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Kto</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Subcategoria</th>
                    <th scope="col">Komentarz</th>
                    <th scope="col">Ustawienia</th>
                </tr>
            </thead>
            <tbody>
            {% for item in filter.qs %}
                <tr>
                    <td>{{ item.item_date }}</td>
                    <td>{{ item.item_place }}</td>
                    <td>{{ item.amount }} {{ item.currency }}</td>
                    <td>{{ item.spender }}</td>
                    <td>{{ item.spend_type.spend_type }}</td>
                    <td>{{ item.category.category_name }}</td>
                    <td>{{ item.subcategory.subcategory_name }}</td>
                    <td>{{ item.comment }}</td>
                    <td>
                        <a href="{% url 'money_list_item_edit' pk=item.pk %}" class="link">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'money_list_item_remove' pk=item.pk %}" class="link">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#id_spend_type").change(function () {
          var url = $("#SearchForm").attr("data-category-url");
          var SpendTypeId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'spend_type': SpendTypeId
            },
            success: function (data) {
              $("#id_category").html(data);
            }
          });

        });

        $("#id_category").change(function () {
          var url = $("#SearchForm").attr("data-subcategory-url");
          var CategoryId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'category': CategoryId
            },
            success: function (data) {
              $("#id_subcategory").html(data);
            }
          });

        });
    </script>
{% endblock %}
