{% extends 'base.html' %}

{% block title %}Liczniki - Usun{% endblock %}

{% block content %}
    <h1>Usun wydatek</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the item?</p>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Kto</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Subcategoria</th>
                    <th scope="col">Komentarz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ money_item.item_date }}</td>
                    <td>{{ money_item.item_place }}</td>
                    <td>{{ money_item.amount }} {{ money_item.currency }}</td>
                    <td>{{ money_item.spender }}</td>
                    <td>{{ money_item.spend_type.spend_type }}</td>
                    <td>{{ money_item.category.category_name }}</td>
                    <td>{{ money_item.subcategory.subcategory_name }}</td>
                    <td>{{ money_item.comment }}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-trash-alt"></i> Usuń
        </button>
        <a class="btn btn-danger btn-sm" href="{% url 'money_list' %}" role="button">
            <i class="fas fa-times"></i> Anuluj
        </a>
    </form>
{% endblock %}
