{% extends 'base.html' %}

{% block title %}Liczniki{% endblock %}

{% block content %}

    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-between align-items-center">
        <div class="toggler">
            <a data-toggle="collapse" href="#category_list" role="button" aria-expanded="true" aria-controls="category_list">
                <i class="fas fa-toggle-on fa-2x"></i>
            </a>
            <h2>Ustawienia</h2>
            <p class="lead">Kategorie</p>
        </div>
        <div class="row">
            <a href="{% url 'category_add'  %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
                <i class="fas fa-plus"></i>Dodaj kategorię
            </a>
            <button type="button"
                    id="category_button"
                    class="btn btn-outline-success btn-sm"
                    data-toggle="modal"
                    data-target="#category_modal"
                    data-url="{% url 'category_add_modal' %}">
                <i class="fas fa-plus"></i>
                Dodaj kategorię (Modal)
            </button>
            <div id="category_modal_box"></div>
        </div>
    </div>

    <div class="collapse show" id="category_list">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th style="width: 20%" scope="col">Typ</th>
                    <th style="width: 40%" scope="col">Kategoria</th>
                    <th style="width: 40%" scope="col" class="text-center">Ustawienia</th>
                </tr>
            </thead>
            {% for cat in category %}
                <tr>
                    <td>{{ cat.spend_type.spend_type }}</td>
                    <td>{{ cat.category_name }}</td>
                    <td class="text-center">
                        <a href="{% url 'category_edit' slug=cat.category_slug %}" class="link">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'category_remove' slug=cat.category_slug %}" class="link">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-between align-items-center">
        <div class="toggler">
            <a data-toggle="collapse" href="#subcategory_list" role="button" aria-expanded="true" aria-controls="subcategory_list" class="collapsed">
                <i class="fas fa-toggle-off fa-2x"></i>
            </a>
            <h2>Ustawienia</h2>
            <p class="lead">Podkategorie</p>
        </div>
        <div class="row">
            <a href="{% url 'subcategory_add'  %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
                <i class="fas fa-plus"></i>
                Dodaj subkategorię
            </a>
        </div>
    </div>

    <div class="collapse" id="subcategory_list">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th style="width: 20%" scope="col">Typ</th>
                    <th style="width: 20%" scope="col">Kategoria</th>
                    <th style="width: 20%" scope="col">Podkategoria</th>
                    <th style="width: 40%" scope="col" class="text-center">Ustawienia</th>
                </tr>
            </thead>
            {% for sub in subcategory %}
                <tr>
                    <td>{{ sub.category.spend_type.spend_type }}</td>
                    <td>{{ sub.category.category_name }}</td>
                    <td>{{ sub.subcategory_name }}</td>
                    <td class="text-center">
                        <a href="{% url 'subcategory_edit' slug=sub.subcategory_slug pk=sub.pk %}" class="link">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'subcategory_remove' slug=sub.subcategory_slug pk=sub.pk %}" class="link">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#category_button").click(function () {
            var url = $(this).attr("data-url");
            var id = $(this).attr("data-target");

            if( $("#category_modal_box").children().length == 0 ) {
                $.ajax({
                    url: url,
                    success: function (data) {
                        $("#category_modal_box").html(data);
                        $("#category_modal").modal('show');
                    }
                });
            } else {
                $("#category_modal").modal('show');
            }
        });
    </script>
{% endblock %}