{% extends 'base.html' %}

{% block title %}Liczniki{% endblock %}

{% block content %}
    <h1>Subkategoria - edycja</h1>
    <form method="POST" class="post-form" id="SubcategoryForm" data-category-url="{% url 'ajax_load_category' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        $("#id_spend_type").change(function () {
          var url = $("#SubcategoryForm").attr("data-category-url");
          var SpendTypeId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'spend_type': SpendTypeId
            },
            success: function (data) {
              $("#id_category").html(data);
            }
          });

        });
    </script>
{% endblock %}