{% extends 'base.html' %}

{% block title %}Rozliczenie - Usun{% endblock %}

{% block content %}
    <h1>Usun Subkategorie</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the item?</p>
        <ul>
            <li>Typ: {{ subcategory.category.spend_type.spend_type }}</li>
            <li>Kategoria: {{ subcategory.category.category_name }}</li>
            <li>Subkategoria: {{ subcategory.subcategory_name }}</li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Remove">
        <a href="{% url 'money_settings' %}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}
