{% extends 'base.html' %}

{% block title %}Przypomnienia{% endblock %}

{% block content %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-between align-items-center">
        <h2>Przypomnienia na {% now "F" %}</h2>
        <a href="{% url 'reminder_add' %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
            <i class="fas fa-plus"></i>
            Dodaj
        </a>
    </div>

    {% if reminders_month|length > 0 %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Okazja</th>
                    <th scope="col">Osoba</th>
                    <th scope="col">Data</th>
                    <th scope="col">Rocznica</th>
                    <th scope="col">Ustawienia</th>
                </tr>
            </thead>
            <tbody>
            {% for reminder in reminders_month %}
                <tr>
                    <td>{{ reminder.reminder_type }}</td>
                    <td>{{ reminder.reminder_desc }}</td>
                    <td>{{ reminder.reminder_date }}</td>
                    <td>{{ reminder.get_age }}</td>
                    <td>
                        <a href="{% url 'reminder_edit' pk=reminder.pk %}" class="link">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'reminder_remove' pk=reminder.pk %}" class="link">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>W obecnym miesiącu nie ma żadnych przypomnień</p>
    {% endif %}

    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <h2>Wszystkie przypomnienia</h2>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Okazja</th>
                <th scope="col">Osoba</th>
                <th scope="col">Data</th>
                <th scope="col">Rocznica</th>
                <th scope="col">Ustawienia</th>
            </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr>
                <td>{{ reminder.reminder_type }}</td>
                <td>{{ reminder.reminder_desc }}</td>
                <td>{{ reminder.reminder_date }}</td>
                <td>{{ reminder.get_age }}</td>
                <td>
                    <a href="{% url 'reminder_edit' pk=reminder.pk %}" class="link">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'reminder_remove' pk=reminder.pk %}" class="link">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
