{% extends 'base.html' %}

{% block title %}Przypomnienia - Usun{% endblock %}

{% block content %}
    <h1>Usun Przypomnienie</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the item?</p>
        <ul>
            <li>{{ reminder.reminder_type }}</li>
            <li>{{ reminder.reminder_desc }}</li>
            <li>{{ reminder.reminder_date }}</li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Remove">
        <a href="{% url 'reminder_list' %}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}
